/* Login.css */
.login-container {
  max-width: 400px; /* Set a max width for the login form */
  margin: auto; /* Center the form */
  padding: 20px;
  background-color: #f8f9fa; /* Light background color for contrast */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.login-title {
  font-size: 1.5rem; /* Larger title font size */
}

.login-input {
  border: 1px solid #ced4da; /* Default border color */
  border-radius: 5px; /* Slightly rounded edges */
}

.login-input:focus {
  border-color: #ffc107; /* Yellow border on focus */
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5); /* Subtle glow effect */
}

.login-button {
  background-color: #E6B800 !important; /* Yellow background for the button */
  color: #fff !important; /* White text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Add padding for a larger button */
  width: 100%; /* Full width button */
}

.login-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
  cursor: pointer; /* Pointer cursor on hover */
}
